html,
.approve {
    background-color: transparent; 
    border: none;
    background-image: url('/browser/assets/thumbsup.png');
    background-repeat: no-repeat;
}

.deny {
    background-color: transparent;
    border: none;
    background-image: url('/browser/assets/thumbsdown.png');
    background-repeat: no-repeat;
}

button img {
    width: 35%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    cursor: pointer;
}

.btn-group {
    /* margin: auto !important; */
    align-items: center;
    display: flex;
    justify-content: center;
}