html,
#approve #deny {
    size: 1em
}

#approve {
    background-color: greenyellow;
    background-image: url('/browser/assets/thumbsup.png');
    background-repeat: no-repeat;
}

#deny {
    background-color: crimson;
    background-image: url('/browser/assets/thumbsdown.png');
    background-repeat: no-repeat;
}